<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css">
	<title>Kaptionator</title>
</head>
<body>
	<!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
		<a class="navbar-brand" href="#">Kaptionator</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#links">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="links">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="#">Home</a>
				<a class="nav-item nav-link" href="#contact">Contact</a>
			</div>
		</div>
	</nav>-->
	<div class="container-fluid" id="home">
		<div class="row">
			<div class="col-md-6 col-12">
				<h1 class="font-weight-bold">Kaptionator</h1>
				<p class="lead">Kaptioner is a Machine Learning based Web App that allows the user to quickly generate precise and accurate Caption and Tags i.e "IDENTIFICATION LABELS" based upon the uploaded image and the description.</p>
				<form class="col-xl-9 col-lg-10 col-sm-12 m-auto">
					<fieldset>
						<legend>Image Uploader</legend>
						<div class="form-row mb-2">
							<div class="custom-file">
								<input type="file" class="custom-file-input" id="file" name="file" required>
								<label class="custom-file-label" for="file">Choose Image...</label>
							</div>
						</div>
						<div class="form-row mb-2">
							<textarea class="form-control" placeholder="Description (Optional).." name="desc" rows="5"></textarea> 
						</div>
						<div class="form-row">
							<input type="submit" class="form-control btn-primary" value="Submit Form">
						</div>
					</fieldset>
				</form>
			</div>
			<div class="col-md-6 col-12">
				<div class="col-12 ml-auto mr-auto bg-light border rounded text-center mt-md-5 p-0" id="image-holder">
					<span class="d-inline-block mt-5 text-muted">Uploaded Image will be displayed here..</span>
				</div>
				<div class="col-12 ml-auto mr-auto bg-light border rounded mt-2" id="caption-holder">
					<span class="text-muted">Generated Caption....</span>
				</div>
				<div class="col-12 ml-auto mr-auto bg-light border rounded mt-2" id="description-holder">
					<span class="text-muted">Description....</span>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="container-fluid" id="contact">
		<h1>Contact</h1>
	</div>-->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="/assets/js/main.js"></script>
</body>
</html>